*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 70%;
}

.heading{
    height: 100px;
    background-image: url(../img/pattern.png);
    background-color: rgb(19, 150, 225);
    background-size: 325px;
}

.logo{
    height: 50px;
    margin-top: 25px;
}

h1{
    font-size: 40px;
    margin-top: 30px;
}

#link{
    text-decoration: none;
    color: rgb(17, 125, 226);
}

.authors{
    font-size: 20px;
}

.authors,
.date{
    color: lightgrey;
    margin-top: 5px;
}
